# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
android/**
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

.vscode

# Data sources
.data

# Native code must be commited
!android/app/
!android/app/src/
!android/app/src/main/
!android/app/src/main/AndroidManifest.xml
!android/app/src/main/java/
!android/app/src/main/java/com/
!android/app/src/main/java/com/mamenko/
!android/app/src/main/java/com/mamenko/airplain/
!android/app/src/main/java/com/mamenko/airplain/**
